.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule('AeroSim') }}
{% import domain.macros as macros with context %}

AeroSim
=======

{{ macros.service(services['AeroSim']) }}
