.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule('AeroSim') }}
{% import domain.macros as macros with context %}

TrimSession
===========

{{ macros.class(services['AeroSim'].classes['TrimSession']) }}
